/* Google Poppins Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  background-color: #dbe6fd;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* ------------------------------------*|
     STYLE OF MAIN PAGE STARTS HERE 
|*-------------------------------------*/
/* Search Field  */
input#search-btn
{
  background-color: #FEFBF3;
}

/* Product Section Starts Here  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  background-color: #FEFBF3;
  transition: 0.5s;
  border: 2px solid #fff;
  padding: 10px 0;
  border-radius: 5px;
  min-height: 400px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border: 2px solid green;
}
.product-image {
  width: 150px;
  height: 150px;
}
.button{
  color: black;
  font-weight: bold;
}
/* My Cart Section Starts Here  */
.cart {
  background-color: #FEFBF3;
  width: 350px;
  border: 1px solid #fff;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* --------------------------*|
     RESPONSIVE STARTS HERE  
|*---------------------------*/
/* Responsive for Screen Size Bellow 769px */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

/* Responsive for Screen Size Bellow 489px */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
